@{
    ViewData["Title"] = "CreateUser";
}

    <div class="backimageLogin rounded">
       
        <form action="@Url.Content("~/LogIn/CreateUser")" method="post" class="align-content-center card border-dark border-3 bg-transparent" name="LogInForm" id="LogInForm">
            <br />
            <div class="form-group col-lg-6 col-md-6 col-sm-10 offset-lg-3 offset-md-3 offset-sm-1 text-center">
                <h3 class="text-dark">Nuevo Usuario</h3>
                <p class="text-dark">Creá tu cuenta de usuario usando tu email y disfrutá de los beneficios de gestionar tus inscripciones desde cualquier dispositivo móvil.</p>
            </div>
            <br />
            @{
                if (ViewBag.Success != "" && ViewBag.Success != null)
                {
                    <div class="SuccessMessage text-success font-weight-bold text-center bg-dark" name="AddSubjectSuccess" id="AddSubjectSuccess">
                        <p>@ViewBag.Success</p>
                    </div>
                }
                if (ViewBag.Warning != "" && ViewBag.Warning != null)
                {
                    <div class="danger text-danger font-weight-light text-center bg-dark" name="warning" id="warning">
                        <p>@ViewBag.Warning</p>
                    </div>
                }
                if (ViewBag.Error != "" && ViewBag.Error != null)
                {
                    <div class="danger text-danger font-weight-bold text-center bg-dark" name="error" id="error">
                        <p>@ViewBag.Error</p>
                    </div>
                }
            }
            <br />
            <div class="form-group col-lg-6 col-md-6 col-sm-10 offset-lg-3 offset-md-3 offset-sm-1 text-center">
                <div class="bg-dark rounded largeopacity">
                    <label for="Email" class="font-weight-bold">Email</label>
                </div>
                <input class="form-control text-center" type="email" oninvalid="this.setCustomValidity('Por favor ingresá tu email en un formato válido')" name="email" id="email" placeholder="Email@ejemplo.com" />
            </div>
            <div class="form-group col-lg-6 col-md-6 col-sm-10 offset-lg-3 offset-md-3 offset-sm-1 text-center">
                <div class="bg-dark rounded largeopacity">
                    <label for="password" class="font-weight-bold">Contraseña</label>
                </div>
                <input class="form-control text-center" type="password" minlength="6" oninvalid="this.setCustomValidity('La contraseña tiene que contener al menos 6 caracteres')" id="password" name="password" aria-describedby="passwordhelp" placeholder="Ingrese su contraseña" />
                <small id="passwordhelp" class="helptext form-text text-dark">La debe contener al menos 6 caracteres</small>
            </div>
            <div class="form-group col-lg-6 col-md-6 col-sm-10 offset-lg-3 offset-md-3 offset-sm-1 text-center">
                <div class="bg-dark rounded largeopacity">
                    <label for="password" class="font-weight-bold">Repetí la Contraseña</label>
                </div>
                <input class="form-control text-center" type="password" minlength="6" oninvalid="this.setCustomValidity('La contraseña tiene que contener al menos 6 caracteres')" placeholder="Repetí tu contraseña" id="password2" name="password2" />
            </div>
            <div class="form-group col-lg-6 col-md-6 col-sm-10 offset-lg-3 offset-md-3 offset-sm-1 text-center">
                <div class="bg-dark rounded largeopacity">
                    <label for="Email" class="font-weight-bold">Nombre y Apellido</label>
                </div>
                <input class="form-control text-center" type="text" placeholder="Ingresá tu nombre y apellido" name="nameuser" id="nameuser" />
            </div>
            <div class="form-group col-lg-4 col-md-4 col-sm-8 offset-lg-4 offset-md-4 offset-sm-2 text-center align-content-center">
                <input type="submit" class="btn btn-lg btn-dark text-light" value="Crear" />
            </div>

        </form>

    </div>

