<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MVCnetcore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    
    <div class="container-fluid d-flex flex-column min-vh-100 nologgeado">
        <main role="main" class="pb-3 lightgrey">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer top-margin border-dark border-3 bg-dark text-white font-weight-light align-bottom">
        <div class="container-fluid">
            <div class="text-center"> &copy; 2020 - MVCnetcore - <a asp-area="" asp-controller="Home" asp-action="index">Links</a></div>
            <hr />
            <h5 class="text-center">Información de contacto</h5>
            <h6 class="text-sm-center ">Telefono: 1233451</h6>
            <h6 class="text-sm-center ">Email: ejemplo@correo.com</h6>
            <br />
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
